@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300;400;500&display=swap');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: 'Fira Sans Extra Condensed', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

header {
    padding: 40px 70px;
    display: flex;
    align-items: baseline;
    position: absolute;
    z-index: 1;
}

header img {
    margin-right: 40px;
}

header ul {
    display: flex;
}

header li {
    margin-right: 40px;
}

header a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.menu {
    width: 20px;
    height: 2px;
    background-color: white;
    position: fixed;
    right: 70px;
    top: 50px;
    margin: 0 auto;
}

.menu::after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 20px;
    height: 2px;
    background-color: white;
}

.menu::before {
    content: '';
    position: absolute;
    top: 4px;
    width: 20px;
    height: 2px;
    background-color: white;
}

section {
    position: relative;
    width: 100%;
}

section

.background {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-main {
    background-image: url(../img/main-bc.jpg);
}

.background-rocket {
    background-image: url(../img/rocket-bc.jpg);
}

.background-starship {
    background-image: url(../img/starship-bc.jpg);
}

.background-astronaut {
    background-image: url(../img/astronaut-bc.jpg);
}

.background-video {
    background-color: black;
}

.background-moon {
    background-image: url(../img/moon-bc.jpg);
}

.textblock {
    position: absolute;
    width: 420px;
    left: 70px;
    bottom: 15%;
}

h3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

h1 {
    font-weight: 500;
    font-size: 42px;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 44px;
}

.textblock a {
    border: 2px solid white;
    padding: 15px 45px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.textblock a:hover {
    background-color: white;
    color: black;
}

.arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
}


.textblock-video {
    top: 15%;
}

p {
    font-size: 18px;
    line-height: 145%;
    color: white;
    margin-bottom: 44px;
}

.video {
    position: absolute;
    left: 50%;
    top: 10%;
}

iframe {
    width: 640px;
    height: 638px;
}

.section:nth-of-type(6) .textblock{
    top: 30%;
}

section:nth-of-type(2) .textblock,
section:nth-of-type(6) .textblock {
    left: 60%;
}

footer {
    background-color: black;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 16px;
}

span {
    color: grey;
    margin-left: 15px;
}

footer a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}